<div>
    <h2 data-translate="navAppApp.universityGroup.home.title">University Groups</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="university-group.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="navAppApp.universityGroup.home.createLabel">
                        Create new University Group
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="navAppApp.universityGroup.name">Name</span></th>
                    <th><span data-translate="navAppApp.universityGroup.description">Description</span></th>
                    <th><span data-translate="navAppApp.universityGroup.semester">Semester</span></th>
                    <th><span data-translate="navAppApp.universityGroup.specialisation">Specialisation</span></th>
                    <th><span data-translate="navAppApp.universityGroup.classes">Classes</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="universityGroup in vm.universityGroups track by universityGroup.id">
                    <td><a ui-sref="university-group-detail({id:universityGroup.id})">{{universityGroup.id}}</a></td>
                    <td>{{universityGroup.name}}</td>
                    <td>{{universityGroup.description}}</td>
                    <td>{{universityGroup.semester}}</td>
                    <td>{{universityGroup.specialisation}}</td>
                    <td>
                        <span ng-repeat="classes in universityGroup.classes">
                            <a class="form-control-static" ui-sref="university-class-detail({id: classes.id})">{{classes.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="university-group-detail({id:universityGroup.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="university-group.edit({id:universityGroup.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="university-group.delete({id:universityGroup.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
