
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBuildingLabel" data-translate="navAppApp.building.home.createOrEditLabel">Create or edit a Building</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.building.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.building.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="navAppApp.building.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.building.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="navAppApp.building.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.building.code"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="navAppApp.building.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.building.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="navAppApp.building.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                    ng-model="vm.building.street"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="navAppApp.building.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.building.longitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="navAppApp.building.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.building.latitude"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPhoto($file, vm.building)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="navAppApp.building.photo" for="field_photo">Photo</label>
            <div>
                <img data-ng-src="{{'data:' + vm.building.photoContentType + ';base64,' + vm.building.photo}}" style="max-height: 100px;" ng-if="vm.building.photo"/>
                <div ng-if="vm.building.photo" class="help-block clearfix">
                    <span class="pull-left">{{vm.building.photoContentType}}, {{vm.byteSize(vm.building.photo)}}</span>
                    <button type="button" ng-click="vm.building.photo=null;vm.building.photoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPhoto($file, vm.building)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                    ng-model="vm.building.photo"
                     />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                    ng-model="vm.building.photoContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
