<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<jhi-alert></jhi-alert>
		<h2 data-translate="upload.title">Upload plan for department</h2>
		<br/>
		<form>
		  <div class="form-group">
		  	<label>Choose department</label>
		  	<br/>
		  	<select ng-model="vm.selectedDept">
		  		<option ng-repeat="dept in vm.depts">{{dept}}</option>
		  	</select>
		  </div>
		  <div class="form-group">
		    <label>Choose plan to upload</label>
		    <br/>
		    <div class="btn btn-default" ngf-select ng-model="vm.file" name="file" ngf-max-size="20MB" >Select a file</div>
		    <p class="help-block">{{vm.file.name}}</p>
		  </div>
		  <button ng-hide="vm.inProgress" type="submit" class="btn btn-primary" ng-click="vm.submit()">Submit</button>
		  
		  <uib-progressbar ng-show="vm.inProgress" max="vm.max" value="vm.progressPercentage"><span style="color:white; white-space:nowrap;">{{vm.progressPercentage}}%</span></uib-progressbar>
		  
		</form>
	</div>
</div>